.registration-sector {
    margin-bottom: 50px;
    margin-top: 50px;

}

.authorization-sector {
    margin-bottom: 50px;
    margin-top: 50px;
}

.registration-sector .container {
    background-color: #9e959541;
    border-radius: 14px;
}

.authorization-sector .container {
    background-color: #9e959541;
    border-radius: 14px;
    max-height: 750px;
}

.registration-sector .list-unstyled {
    background-color: #cfcfcfd0;
    padding: 20px;
    border-radius: 14px;
    margin-top: 10px;
}

.authorization-sector .list-unstyled {
    background-color: #cfcfcfd0;
    padding: 20px;
    border-radius: 14px;
    margin-top: 10px;
}

.registration-sector .forma {
    height: 600px;
}

.authorization-sector .forma {
    height: 325px;
}

.registration-sector form {
    max-height: 400px;
    margin-top: 0;
}

.registration-sector .w-75 {
    width: 75% !important;
    margin-top: 30px;
}

.registration-sector .list-unstyled a {
    color: #1b1a1a;
    text-decoration: none;
    transition: all 0.5s;
}

.registration-sector .list-unstyled a:hover {
    color: #1b1a1a42;
}

.authorization-sector .list-unstyled a {
    color: #1b1a1a;
    text-decoration: none;
    transition: all 0.5s;
}

.authorization-sector .list-unstyled a:hover {
    color: #1b1a1a42;
}

.registration-sector .w-75:nth-child(n + 1) {
    margin-top: 10px;
}

.forma .w-75 {
    max-height: 100px;
}